.contact-us {
  box-sizing: border-box;
  width: 100vw;
  background-color: @background-light;
  margin: 0;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;

  background-image: url(/img/Background-contact-us.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.contact-us__button {
  border: 0;
  border-radius: 7px;
  width: 200px;
  height: 55px;
  background-color: @background-button-orange;

  color: @text-color-light;
  text-transform: uppercase;
  font-family: ProximaNovaBold;
  font-size: 16px;
}
