.page-footer {
  box-sizing: border-box;
  width: 100vw;
  background-color: @background-dark;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: @text-color-light;
}

.page-footer__navigation-header {
  color: @text-color-orange;
}

.page-footer__navigation-list {
  list-style-type: none;
  padding: 0;
}

.page-footer__links-header {
  color: @text-color-orange;
}

.page-footer__links-list {
  list-style-type: none;
  padding: 0;
}

.page-footer__contacts-header {
  color: @text-color-orange;
}

.page-footer__contacts-phone {
  display: block;
}

.page-footer__contacts-email {
  display: block;
}
