.page-header {
  box-sizing: border-box;
  width: 100%;
  background-color: @background-blue;
  margin: 0;
  padding-bottom: 5px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.page-header__container {
  color: @text-color-light;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  box-sizing: border-box;
  width: 100%;
  max-width: @desktop-content-width;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.page-header__logo {
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;

  @media (min-width: @desktop-width) {
    width: auto;
    height: auto;
    margin: 0;
  }
}

.page-header__logo-picture {
  width: 84px;
  height: 100px;
  transform: scale(0.7);

  @media (min-width: @desktop-width) {
    transform: scale(1);
    margin-top: 30px;
  }
}

.page-header__logo-text {
  margin: 0;
  font-family: ProximaNovaBold;
  font-size: 22px;
  position: relative;
  bottom: 25px;

  @media (min-width: @desktop-width) {
    font-size: 50px;
    bottom: 10px;
  }
}

.page-header__menu-button {
  display: block;
  box-sizing: border-box;
  height: 60px;
  width: 40px;
  margin-top: 35px;
  margin-right: 20px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-heager__burger-line {
  width: 40px;
  height: 5px;
  margin-top: 10px;
  background-color: @background-light;
}

.page-heager__burger-line--northwest {
  margin-top: -5px;
}

.page-header__menu-input {
  display: none;
}

.page-header__menu-nav {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: 1.37s all;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: -90px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 40px;
    width: 1000px;
    max-height: 1000px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.page-header__menu-item {
  display: block;
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 32px;
  text-align: center;
  font-family: ProximaNovaBold;
  font-size: 24px;

  @media (min-width: @tablet-width) {
    height: 45px;
    font-size: 28px;
    width: 60%;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    height: auto;
    margin: 0;
    margin-left: 26px;
    margin-right: -3px;
    padding-left: 3px;
    padding-right: 3px;

    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.04em;

    display: inline-block;
    padding-bottom: 5px;
  }
}

.page-header__menu-item::before {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  background-color: @background-light;
  opacity: 0.27;

  @media (min-width: @tablet-width) {
    width: 55%;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__menu-item:first-child::before {
  @media (min-width: @tablet-width) {
    opacity: 0;
  }
}

.page-header__menu-item:hover {
  @media (min-width: @desktop-width) {
    border-bottom: 3px solid @text-color-orange;
  }
}

#menu-toggler:checked ~ .page-header__menu-nav {
  max-height: 573px;

  @media (min-width: @tablet-width) {
    max-height: 647px;
  }
}

.page-heager__burger-line--end {
  transition: .15s all;
}

#menu-toggler:checked ~ .page-header__menu-button .page-heager__burger-line--end {
  opacity: 0;
}

.page-heager__burger-line--northeast {
  transition: .77s all;
}

#menu-toggler:checked ~ .page-header__menu-button .page-heager__burger-line--northeast {
  transform: rotate(-135deg);
}

.page-heager__burger-line--northwest {
  transition: .5s all;
}

#menu-toggler:checked ~ .page-header__menu-button .page-heager__burger-line--northwest {
  transform: rotate(135deg);
}
